* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

main#result, aside#editors {
  flex-grow: 1;
  border: 1px solid black;
}

main#result {
  position: relative;
}

main#result > i#full-screen {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

main#result > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

aside#editors {
  border-left: 0;
}

textarea.editor{
  resize: none;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  outline: none;
  padding: 5px;
  border: 0;
  -webkit-appearance: none;
}

code#html > textarea.editor::before {
  content: "<!--HTML-->";
  position: absolute;
  top: 0;
  left: 0;
}

code#css > textarea.editor, code#js > textarea.editor {
  border-top: 1px solid black;
}

aside#editors{
  display: flex;
  flex-direction: column;
}

aside#editors.hidden{
  display: none;
}

aside#editors code {
  flex-grow: 1;
}

@media only screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }
  aside#editors{
    flex-direction: row;
    border-top: 0;
    border-left: 1px solid black;
  }
  code#css > textarea.editor, code#js > textarea.editor {
    border-top: 0;
    border-left: 1px solid black;;
  }
}
