* {
  box-sizing: border-box;
  touch-action: pan-y;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}

main#result, aside#editors {
  flex-grow: 1;
  flex-basis: 0px;
  border: 1px solid black;
}

main#result {
  position: relative;
}

main#result.hidden {
  flex-grow: 0;
  border: 0;
  height: 0;
}

i.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

main#result > iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

aside#editors {
  border-left: 0;
}

textarea.editor{
  resize: none;
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  outline: none;
  padding: 5px;
  border: 0;
}

code#css:not(.full), code#js:not(.full) {
  border-top: 1px solid black;
}

code.full {
  border-left: 1px solid black;
}

aside#editors{
  display: flex;
  flex-direction: column;
}

aside#editors.hidden{
  flex-grow: 0;
  border: 0;
  height: 0;
}

aside#editors.hidden .fullscreen,
aside#editors code.hidden .fullscreen,
main#result.hidden .fullscreen {
  display: none;
}

aside#editors.hidden textarea.editor, aside#editors code.hidden textarea.editor{
  padding: 0;
  height: 0;
  width: 0;
}

aside#editors code {
  position: relative;
  flex-grow: 1;
  flex-basis: 0px;
}

aside#editors code.hidden{
  flex-grow: 0;
  height: 0;
  border: 0;
}

@media only screen and (max-width: 700px) {
  body {
    flex-direction: column;
  }
  aside#editors{
    flex-direction: row;
    border-top: 0;
    border-left: 1px solid black;
  }
  code#css:not(.full), code#js:not(.full) {
    border-top: 0;
    border-left: 1px solid black;;
  }

  code.full {
    border-top: 1px solid black;
    border-left: 0;
  }
}
