body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
  overflow: hidden;
}
.slide {
  width: 90vw;
  height: 90vh;
  background-color: white;
  border-radius: 5px;
  transition: all 2s;
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: none
}
.slide.current, .slide.next, .slide.future, .slide.prev, .slide.past{
  display: block;
}
.slide.current{
  left: 5vw;
}
.slide.next {
  left: 97vw;
}
.slide.future {
  left: 189vw;
}
.slide.prev {
  left: -87vw;
}
.slide.past{
  left: -179vw;
}
nav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}
.material-icons.left, .material-icons.right {
  transition: transform 0.3s;
  cursor: pointer;
  user-select: none;
}
.material-icons.left:hover, .material-icons.right:hover {
  transform: scale(1.5);
}
